* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Verdana, Tahoma, Sans-serif;
}

:root {
  --bgcolor: rgb(255 255 255);
  --sidebar-bg: #00aaff;
  --main-bg: #e6e6f0;
  --head-bg: #ffffff;
  --project-line: #e5a51b;
}

.container {
  display: grid;
}

.body {
  background-color: var(--head-bg);
  min-height: 100vh;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}


/* Sidebar Section */
.sidebar {
  background-color: var(--sidebar-bg);
  grid-column: 1/2 ;
  grid-row: 1/6;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr 1fr 1fr;
}

.side-header {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-nav {
  grid-column: 1/2;
  grid-row: 2/3;
}

.side-utility {
  grid-column: 1/2;
  grid-row: 3/5;
}


/* Main Section */
.main {
  background-color: var(--main-bg);
  grid-column: 2/8;
  grid-row: 2/6;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* Project sub-section */
.p-section {
  grid-column: 1/2;
  grid-row: 1/3;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr 1fr 1fr;
}

.projects {
  grid-column: 1/3;
  grid-row: 2/5;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.project {
  border: 0px solid white;
  border-left: 0.5rem solid var(--project-line);
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
}

.p-label {
  grid-column: 1/2;
  grid-row: 1/2;
}

/* Announcement sub-section */
.a-section {
  grid-column: 2/3;
  grid-row: 1/2;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr;
}

.announce {
  grid-column: 1/2;
  grid-row: 2/3;
}

.a-label {
  grid-column: 1/2;
  grid-row: 1/2;
}

/* Trends sub-section */
.t-section {
  grid-column: 2/3;
  grid-row: 2/3;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr;
}

.t-label {
  grid-column: 1/2;
  grid-row: 1/2;
}

.trend {
  grid-column: 1/2;
  grid-row: 2/3;
}


/* Header Section */
.head {
  grid-column: 2/8;
  grid-row: 1/2;
}